@font-face {
	font-family: '8bitOperatorPlus8-Regular';
	src: local('8bitOperatorPlus8'), url(./fonts/8-bit-operator/8bitOperatorPlus8-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'AvenirLTStd-Book';
	src: local('AvenirLTStd'), url(./fonts/avenir_ff/AvenirLTStd-Book.otf) format('opentype');
}
